@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&family=The+Nautigal:wght@700&display=swap');
html {
    background-color: #111;
}

h1 {
    color: whitesmoke;
    font-family: 'The Nautigal', cursive;
    text-align: center;
    font-size: 300%;
    margin-top: auto;
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    padding-top: 200px;
}

.sidenav a {
    margin-top: 0;
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 40px;
    color: rgb(226, 226, 226);
    display: block;
    text-align: center;
    font-family: 'Open Sans';
}

.sidenav a:hover {
    color: #f1f1f1;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.grid-container {
    display: grid;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

figure {
    text-align: center;
}